<!-- <div class="container-fluid"> -->
<div class="panel panel-default">
  <!-- <div class="panel-heading"> -->
  <!-- <h1 class="panel-title">Heading</h1> -->
</div>

<table class="table">
  <thead>
    <tr>
      <th style="text-align: center">User Image</th>
      <th style="text-align: center">User Name</th>
      <th style="text-align: center">User email</th>

      <th style="text-align: center">User Joined on</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of emp">
      <td style="text-align: center"><img src="{{ item.avatar }}" /></td>
      <td style="text-align: center">
        {{ item.first_name }}
      </td>

      <td style="text-align: center">{{ item.email }}</td>

      <td style="text-align: center">
        {{ item.date | date: long }}
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pager">
    <li><a routerLink="/user/dashboard/empdetails">Viewmore</a></li>
  </ul>
</nav>
