<app-header></app-header>

<div class="container">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img
          src="{{ emp.avatar }}"
          class="avatar img-circle img-thumbnail"
          alt="avatar"
        />
        <!-- <h6>Upload a different photo...</h6>
            
        <input type="file" class="text-center center-block well well-sm"> -->
        <h6>Date Of Joining</h6>
        <input
          type="date"
          disabled
          name="date"
          value="{{ emp.date | date: 'yyyy-MM-dd' }}"
          class="center center-block well well-sm"
        />
      </div>
    </div>
    <!-- FORM START -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Personal info</h3>
      <form [formGroup]="updateForm" class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input
              formControlName="first_name"
              class="form-control"
              type="text"
              [(ngModel)]="emp.first_name"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input
              formControlName="last_name"
              class="form-control"
              [(ngModel)]="emp.last_name"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Phone:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              formControlName="phone"
              [(ngModel)]="emp.phone"
              type="number"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              formControlName="email"
              [(ngModel)]="emp.email"
              type="text"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Location:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              formControlName="location"
              [(ngModel)]="emp.location"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Govt ID</label>
          <div class="col-md-8">
            <input
              class="form-control"
              disabled
              formControlName="gid"
              [(ngModel)]="emp.gid"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Emergency Contact</label>
          <div class="col-md-8">
            <input
              class="form-control"
              disabled
              formControlName="econtact"
              [(ngModel)]="emp.contact"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input
              class="btn btn-primary"
              (click)="updateEmployee(updateForm.value)"
              value="Update"
              type="button"
            />
            <span></span>
            <input
              class="btn btn-default"
              routerLink="/user/dashboard/empdetails/emp/view/{{ emp.id }}"
              value="Cancel"
              type="button"
            />
          </div>
        </div>
      </form>
      <!-- FORM end -->
    </div>
  </div>
</div>

<app-footer></app-footer>
