<!-- <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle navbar-toggle-sidebar collapsed"
      >
        MENU
      </button>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        Employee Management
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a class="glyphicon glyphicon-lock">{{ username | uppercase }}</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-link">{{ url }}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a (click)="api.logout()" routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<app-header></app-header>
<div class="container-fluid main-container">
  <div class="col-md-2 sidebar">
    <div class="row">
      <!-- uncomment code for absolute positioning tweek see top comment in css -->
      <div class="absolute-wrapper"></div>
      <!-- Menu -->
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Main Menu -->
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <!-- Dropdown-->
              <li class="panel panel-default" id="dropdown">
                <a routerLink="userlist" routerLinkActive="active-link">
                  <span class="glyphicon glyphicon-user"></span> UserList
                </a>
              </li>
              <li class="panel panel-default" id="dropdown">
                <a routerLink="addUser" routerLinkActive="active-link">
                  <span class="glyphicon glyphicon-plus"></span> Add User
                </a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
        Admin Dashboard
      </div>
      <!-- <div><router-outlet></router-outlet></div> -->
      <!-- <div *ngIf="isSelected">
        <app-employee-list></app-employee-list>
      </div> -->
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>
